* {
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    background: white;
}
#Menu, #GameZone, #MapEditor {
    margin-top: 3rem;
}
div {
    border: solid black 1px
}

.Menu{
    height: 3rem;
    float: left;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.Save{
    position: absolute;
        top: 1rem;
    right: 1rem;
    float: right;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.hidden{
    display: none;
}
#Banner{
    position: absolute;
    height: 3rem;
    width: 100%;
    background: darkgray;
    color: white;
}
.BannerName{
    height: 3rem;
    text-align: center;
    background: transparent;
    color: white;
    font-size: 2rem;
    padding-top: 0.5rem;
    font-weight: bold;
}